:root {
  /* TODO: color scheme */
  --color-primary: #1ebbd7;
  /* --color-secondary: #536390; */

  --color-black: #000;
  --color-white: #fff;

  --color-text: var(--color-white);
  --color-bg: var(--color-black);
}

[data-color-theme="light"] {
  --color-text: var(--color-black);
  --color-bg: var(--color-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /* TODO: font-family */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;

  color: var(--color-text);
  background-color: var(--color-bg);
}
